.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .modalWindow {
    width: 25%;
    min-height: 20%;
    background-color: white;
    position: relative;
    box-sizing: border-box;
    padding: 1rem;
    z-index: 1000;
  }
  
  .modalWindow > button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
  }
  